#comic-wrap {
    clear: both;
}

.comic-table {
    display: table!important;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
}

#sidebar-over-comic {
    text-align: center;
}

#sidebar-left-of-comic {
    display: table-cell;
    vertical-align: top;
    width: 206px;
    padding: 0px 2px;
}

#comic {
    text-align: center;
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

#sidebar-right-of-comic {
    display: table-cell;
    vertical-align: top;
    width: 206px;
    padding: 0px 2px;
}

#sidebar-under-comic {
    text-align: center;
}

table#comic-nav-wrapper {
    width: auto !important;
    background: #333;
    border: 0;
    text-align: center;
    border-collapse: collapse;
    margin: 6px auto;
    border: solid 1px #000;
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
}

body.scheme-mecha table#comic-nav-wrapper {
    background: linear-gradient(to bottom, #4c4c4c 0%, #1c1c1c 91%,#131313 100%);
}

body.scheme-mecha table#comic-nav-wrapper a {
    text-shadow: 2px 2px 2px #111;
}

td.comic-nav {
    border: 0;
    display: inline-block;
    padding: 0 10px;
}

.comic-nav a:link, .comic-nav a:visited {
    color: #fff;
}

body.scheme-ceasel .comic-nav a:link, body.scheme-ceasel .comic-nav a:visited {
	color: #000;
}

.comic-nav a:hover {
    color: #fffc00;
}

.comic-nav-embed {
    width: 99%;
}

.ceo_comic_archive_dropdown_widget select, .ceo_comic_archive_dropdown_widget form,
.ceo_comic_list_dropdown_widget select, .ceo_comic_list_dropdown_widget form {
    width: 180px;
    margin: 0 auto;
}

table#comic-nav-wrapper .comic-nav-jumpto select {
    max-width: 140px;
}

table#comic-nav-wrapper .comic-nav-jumptocomic select {
    max-width: 100px;
}

.infotext {
    font-size: 10px;
    color: gray;
    padding-left: 5px;
}

.mininav-wrapper {
	font-size: 18px;
    display: inline-block;
    float: right;
}

body.scheme-ceasel .mininav-wrapper {
	font-size: 28px;
}

.mininav-wrapper {
	line-height: 25px;
	height: 25px;
}

.mininav-prev a, .mininav-next a {
    width: 14px;
    display: inline-block;
    float: left;
}

#comic img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    text-align: center;
}

#blogheader {
    border-bottom: solid 1px #fff;
    margin: 10px auto;
}

/* cast archive shorttag */

.cast-box {
    padding: 2px;
    margin: 10px auto;
}

.cast-image {
    width: 150px;
    vertical-align: top;
}

.cast-pic {
    width: 150px;
    height: 150px;
    border: solid 1px #bff;
}

.cast-info {
    padding: 5px;
    vertical-align: text-top;
}

.cast-comic-link {
    text-align: right;
}

/* Archive Shortcode */

.comic-archive-chapter-wrap {
    width: auto;
    margin-bottom: 30px;
}

.comic-archive-series-description {
    padding: 20px;
}

.comic-archive-chapter-description {
    padding: 10px;
}

h2.comic-archive-series-title {
    text-align: center;
}

.comic-archive-title {
    margin-left: 10px;
}

.comic-archive-date {
    width: 88px;
    display: inline-block;
}

.comic-archive-thumbnail {
    width: 150px;
    float: left;
    margin-right: 3px;
    display: block;
}

.comic-archive-list-wrap {
    padding: 0;
    list-style-type: none;
    float: left;
    width: auto;
}

p.comic-thumbnail-in-archive {
    clear: both;
    text-align: center;
}

.comic-list-alt {
}

.level-select {
    font-weight: 700;
    background: #eee;
}

#comic-head, #comic-foot {
    text-align: center;
}

/* related posts */

.related-comics {
    margin: 10px 0;
}

ul.related-ul {
    margin: 2px 0;
    list-style-type: none;
}

h4.related-title {
    margin-top: 10px;
}

span.related-date {
    width: 100px;
}

/* TRANSCRIPT */

#transcript {
    padding: 0 10px;
    font-size: 11px;
    border-left: 4px dotted #333;
    border-right: 4px dotted #333;
}

.transcript-border {
    padding: 0 5px;
    margin: 15px 0;
    border: 1px solid #555;
    background: #fff;
    clear: both;
}

a.transcript-title {
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
    display: block;
    font-family: 'Georgia' , serif;
    font-style: italic;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2em;
    border-bottom: 1px dashed #777;
}

#transcript-content {
    font-family: 'Courier New' , monospace;
    overflow: hidden;
}

.comic-lightbox-text {
    display: block;
    width: 100%;
    text-align: center;
}

.comicbutton {
    margin: 0 5px;
    display: inline-block;
}

/* buy comic stuff */

.buy-thumbnail, .buycomic-us-form {
    display: block;
    text-align: center;
}

/* remove jetpacks navstyle */
body.single-comic #nav-single {
    display: none !important;
}
