/*
Comic Easel - Style.css
Defaults for the Comic Easel Elements.
*/

#comic-wrap {
	clear:both;
}

table#comic-nav-wrapper {
    background: #333;
    border: 0;
	text-align: center;
	border-collapse: collapse;
	margin: 6px auto;
	border: solid 1px #000;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
	display: inline-block;
}

	td.comic-nav {
	    border: 0;
		display: inline-block;
		padding: 0 10px;
	}
	
	.comic-nav a:link, .comic-nav a:visited {
	    color: #fff;
	}
	
    .comic-nav a:hover {
	    color: #fffc00;
	}
	
	.comic-nav-embed {
	    width: 99%;
	}
	
.infotext {
	font-size: 10px;
	color: gray;
	padding-left: 5px;
}

.mininav-wrapper {
	font-size: 18px;
	display: inline-block;
	float: right;
}

.mininav-prev a, .mininav-next a {
	width: 14px;
	display: inline-block;
	float: left;
}

.mininav-prev a:hover, .mininav-next a:hover {
	color: #ffcf00;
}

#comic {
	text-align: center;
}

#comic img {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
}

#blogheader {
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}

/* cast archive shorttag */

.cast-box {
    width: 520px;
    padding: 2px;
    margin: 10px auto;
    border: solid 1px #ccc;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 2px 2px 2px #000;
	-webkit-box-shadow: 2px 2px 2px #000;
	-khtml-box-shadow: 2px 2px 2px #000;
	box-shadow: 2px 2px 2px #000;
}

.cast-pic {
    float: left;
    width: 150px;
    height: 150px;
    border: solid 1px #bff;
}

.cast-info {
    width: 358px;
    float: left;
    padding: 5px;
}

.cast-comic-link {
    text-align: right;
}

/* Archive Shortcode */

.comic-archive-chapter-wrap {
    width: 530px;
    margin-bottom: 30px;
}

.comic-archive-series-description {
    padding: 20px;
}

.comic-archive-chapter-description {
    padding: 10px;
}

h2.comic-archive-series-title {
    text-align: center;
}

.comic-archive-title {
    margin-left: 10px;
}

.comic-archive-date {
    width: 88px;
    display: inline-block;
}

.comic-archive-thumbnail {
    width: 150px;
    float: left;
    margin-right: 3px;
    display: block;
}

.comic-archive-list-wrap {
    padding: 0;
    list-style-type: none;
    float: left;
    width: 376px;
}

.comic-list-alt {
}

.level-select {
    font-weight: 700;
    background: #eee;
}

#comic-foot {
    text-align: center;
}

/* related posts */

.related-comics {
	margin: 10px 0;
}

ul.related-ul {
	margin: 2px 0;
	list-style-type: none;	
}

h4.related-title {
	margin-top: 10px;
}

span.related-date {
	width: 100px;
}