/*
Comic Easel - Style.css
Defaults for the Comic Easel Elements.
*/

#default-nav-wrapper {
	width: 100%;
}

	.default-nav {
		margin: 0 auto;
		width: 300px;
	}

	.default-nav-base {
		display: inline-block;
		padding: 0 10px;
	}
	
.infotext {
	font-size: 10px;
	color: gray;
	padding-left: 5px;
}

.mininav-wrapper {
	font-size: 25px;
	display: inline-block;
	float: right;
	line-height: 22px
}

.mininav-prev a, .mininav-next a {
	display: inline-block;
	float: left;
	padding: 0 5px 4px 5px;
}

.mininav-prev a:hover, .mininav-next a:hover {
	background: #fff;
	color: #000;
}

.ceo_thumbnail_widget .widget-content {
	text-align: center;
}