/*
Comic Easel - Style.css
Defaults for the Comic Easel Elements.
*/

#comic-wrap {
	clear: both;
}

.comic-table {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#sidebar-over-comic {
	text-align: center;
}

#sidebar-left-of-comic {
	display: table-cell;
	vertical-align: top;
	width: 206px;
	padding: 2px;
}

#comic {
	text-align: center;
	display: table-cell;
	vertical-align: top;
	width: 100%;
	padding: 2px;
}

#sidebar-right-of-comic {
	display: table-cell;
	vertical-align: top;
	width: 206px;
	padding: 2px;
}

#sidebar-under-comic {
	text-align: center;
}

table#comic-nav-wrapper {
    background: #333;
    border: 0;
	text-align: center;
	border-collapse: collapse;
	margin: 6px auto;
	border: solid 1px #000;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 3px;
	display: inline-block;
}

	td.comic-nav {
	    border: 0;
		display: inline-block;
		padding: 0 10px;
	}
	
	.comic-nav a:link, .comic-nav a:visited {
	    color: #fff;
	}
	
    .comic-nav a:hover {
	    color: #fffc00;
	}
	
	.comic-nav-embed {
	    width: 99%;
	}
	
.infotext {
	font-size: 10px;
	color: gray;
	padding-left: 5px;
}

.mininav-wrapper {
	font-size: 18px;
	display: inline-block;
	float: right;
}

.mininav-prev a, .mininav-next a {
	width: 14px;
	display: inline-block;
	float: left;
}

.mininav-prev a:hover, .mininav-next a:hover {
	color: #ffcf00;
}



#comic img {
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-align: center;
}

#blogheader {
	border-bottom: solid 1px #fff;
	margin: 10px auto;
}

/* cast archive shorttag */

.cast-box {
    padding: 2px;
    margin: 10px auto;
}

.cast-image {
	width: 150px;
	vertical-align: top;
}

.cast-pic {
    width: 150px;
    height: 150px;
    border: solid 1px #bff;
}

.cast-info {
    padding: 5px;
    vertical-align: text-top;
}

.cast-comic-link {
    text-align: right;
}

/* Archive Shortcode */

.comic-archive-chapter-wrap {
    width: auto;
    margin-bottom: 30px;
}

.comic-archive-series-description {
    padding: 20px;
}

.comic-archive-chapter-description {
    padding: 10px;
}

h2.comic-archive-series-title {
    text-align: center;
}

.comic-archive-title {
    margin-left: 10px;
}

.comic-archive-date {
    width: 88px;
    display: inline-block;
}

.comic-archive-thumbnail {
    width: 150px;
    float: left;
    margin-right: 3px;
    display: block;
}

.comic-archive-list-wrap {
    padding: 0;
    list-style-type: none;
    float: left;
    width: auto;
}

.comic-list-alt {
}

.level-select {
    font-weight: 700;
    background: #eee;
}

#comic-foot {
    text-align: center;
}

/* related posts */

.related-comics {
	margin: 10px 0;
}

ul.related-ul {
	margin: 2px 0;
	list-style-type: none;	
}

h4.related-title {
	margin-top: 10px;
}

span.related-date {
	width: 100px;
}

/* TRANSCRIPT */

#transcript {
	padding: 0 10px;
	font-size: 11px;
	border-left: 4px dotted #333;
	border-right: 4px dotted #333;
}

.transcript-border {
	padding: 0 5px;
	margin: 15px 0;
	border: 1px solid #555;
	background: #fff;
	clear: both;
}

a.transcript-title {
	padding: 0 0 5px 0;
	margin: 0 0 5px 0;
	display: block;
	font-family: 'Georgia' , serif;
	font-style: italic;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 2em;
	border-bottom: 1px dashed #777;
}

#transcript-content {
	font-family: 'Courier New' , monospace;
	overflow: hidden;
}

.comic-lightbox-text {
	display: block;
	width: 100%;
	text-align: center;
}

.comicbutton {
	margin: 0 5px;
	display: inline-block;
}

.MADoc {
	margin: 0 auto !important;
	padding: 0 !important;
}

/* Tool Tips (ComicPress Rascal) */
.tt a {
	position: relative;
	z-index: 1000;
	color: #3CA3FF;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: -110px;
}

a.tt span {
	display: none;
}

a.tt:hover span.tooltip {
	position: absolute;
	display: block;
	width: 200px;
	color: #000;
	margin: 0 auto;
	text-align: center;
	height: 164px;
	background: url('../images/comicpress-rascal.png') no-repeat;
	z-index: 1000;
}

a.tt:hover span.top {
	display: block;
	width: 200px;
	height: 35px;
	padding-top: 2px;
	margin-top: 55px;
	margin-left: 25px;
	background: url('../images/bubble.png') 0 0 no-repeat;
	z-index: 1000;
}
a.tt:hover span.middle {
	/* different middle bg for stretch */
	display: block;
	width: 180px;
	margin: 0 0 0 25px;
	padding: 0 10px;
	background: url('../images/bubble.png') -200px 0 repeat-y;
	z-index: 1000;
}
a.tt:hover span.bottom {
	display: block;
	width: 200px;
	height: 15px;
	background-position: -100px;
	color: #548912;
	margin-left: 25px;
	background: url('../images/bubble.png') 0 -35px no-repeat;
	z-index: 1000;
}

.ie .tt a:hover {
	z-index: 1000;
	color: #aaaaff;
	background-color: Transparent;
}
