/* COMIC NAVIGATION 
Author: Philip M. Hofer (Frumph)
Style: Sci Fi
*/

.comic_navi_wrapper {
	margin: 0 auto;
	width: 100%;
	font-size: 10px;
	vertical-align:text-top;
}

.comic_navi {
	display: inline-block;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
}

.comic_navi_left, .comic_navi_center, .comic_navi_right {
	vertical-align: text-top;
}

.navi-comictitle {
	padding-top: 26px;
	max-width: 100px;
}

.navi {
	width: 60px;
	padding-top: 60px;
	margin: 0 5px;
	font-size: 0.9em;
	color: #555;
	display: inline-block;
}

.navi:hover {
	background-position: -60px 0;
}

.navi-first {
	background: url('first.png') no-repeat;
}

.navi-first-in {
	background: url('firstin.png') no-repeat;
}

.navi-prev {
	margin-right: 10px;
	background: url('prev.png') no-repeat;
}

.navi-prev-in {
	background: url('prev-in.png') no-repeat;
}

.navi-archive, .navi-archives {
	background: url('archive.png') no-repeat;
}

.navi-buycomic {
	background: url('buycomic.png') no-repeat;
}

.navi-random {
	background: url('random.png') no-repeat;
}

.navi-subscribe {
	background: url('subscribe.png') no-repeat;
}

.navi-comments {
	padding: 0;
	background: url('comments.png') no-repeat;
}

a.navi-comments span {
	display: inline-block;
	width: 60px;
	height: 60px;
	font-size: 12px;
	font-weight: bold;
	line-height: 48px;
	color: #000;
	color: #fff;
}

a.navi-comments span:hover {
	color: #860b04;
}

.navi-next {
	margin-left: 10px;
	background: url('next.png') no-repeat;
}

.navi-next-in {
	background: url('next-in.png') no-repeat;
}

.navi-last-in {
	background: url('lastin.png') no-repeat;
}

.navi-last {
	background: url('last.png') no-repeat;
}

.navi-void, .navi-void:hover {
	color: #999;
	background-position: -120px 0;
}
