.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.wordpress-org export-ignore
composer.json export-ignore
composer.lock export-ignore
phpcs.xml.dist export-ignore
phpunit.xml.dist export-ignore
tests export-ignore
