/* COMIC NAVIGATION 
Author: Mary Varn npccomic.com
Style: npc_2014
*/

.comic_navi_wrapper {
	margin: 0 auto;
	width: 100%;
	font-size: 10px;
	vertical-align:text-top;
}

.comic_navi {
	display: inline-block;
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
}

.comic_navi_left, .comic_navi_center, .comic_navi_right {
	vertical-align: text-top;
}

.navi-comictitle {
	padding-top: 26px;
	font-size: 14px;
	font-weight: bold;
}

.navi-comicchapter{
	padding-top: 26px;
	font-size: 14px;
	font-weight: bold;
}

.navi {
	width: 44px;
	padding-top: 44px;
	margin: 0 0px;
	font-size: 0.9em;
	color: #555;
	display: inline-block;
	vertical-align:text-top;
}

.navi:hover {
	background-position: -44px 0;
}

.navi-first {
	background: url('first.png') no-repeat;
}

.navi-first-in {
	background: url('firstin.png') no-repeat;
}

.navi-prev {
	/*margin-right: 10px;*/
	background: url('prev.png') no-repeat;
}

.navi-prev-in {
	background: url('prev.png') no-repeat;
}

.navi-prev-chap {
	background: url('prevchap.png') no-repeat;
}

.navi-archive, .navi-archives {
	background: url('archive.png') no-repeat;
}

.navi-buycomic {
	background: url('buycomic.png') no-repeat;
}

.navi-random {
	background: url('random.png') no-repeat;
}

.navi-subscribe {
	background: url('subscribe.png') no-repeat;
}

.navi-comments {
	padding: 0;
	background: url('comments.png') no-repeat;
}

a.navi-comments span {
	display: inline-block;
	width: 44px;
	height: 39px;
	font-size: 12px;
	font-weight: bold;
	line-height: 24px;
	color: #fff;
	text-indent: 0;
	margin-top:5px;
}

a.navi-comments span:hover {
	color: #333;
}

.navi-next {
	/*margin-left: 10px;*/
	background: url('next.png') no-repeat;
}

.navi-next-in {
	background: url('next.png') no-repeat;
}

.navi-next-chap {
	background: url('nextchap.png') no-repeat;
}

.navi-last-in {
	background: url('lastin.png') no-repeat;
}

.navi-last {
	background: url('last.png') no-repeat;
}

.navi-void, .navi-void:hover {
	color: #999;
	background-position: -88px 0;
}
